
@{
    ViewData["Title"] = "History";
}

<h1>Historia e British Lounge në Prishtinë</h1>

<div class="row">
    <div class="col-md-8" style="text-align:justify;">
        British Lounge u themelua me një vizion për të sjellë një shije të mikpritjes dhe kuzhinës britanike në zemër të Prishtinës. I krijuar si një hapësirë ​​komode por elegante ngrënieje, restoranti ynë i parë u bë shpejt një vend i dashur për ata që kërkojnë shije tradicionale britanike të kombinuara me një atmosferë të ngrohtë dhe mikpritëse.

        <br /><br />Ndërsa reputacioni ynë u rrit, ne u zgjeruam në tre lokacione në të gjithë qytetin, secila duke ofruar një bukuri unike duke ruajtur të njëjtin përkushtim ndaj cilësisë dhe shërbimit. Nga peshku dhe patatet e skuqura klasike deri te pjekjet e shijshme të së dielës, menyja jonë pasqyron traditat e pasura të kuzhinës në Britani, të përshtatura për të kënaqur si vendasit ashtu edhe vizitorët.

        <br /><br />Përtej ushqimit, British Lounge është bërë një qendër kulturore, ku organizon netë tematike, muzikë live dhe ngjarje të veçanta që festojnë trashëgiminë britanike dhe kosovare. Përkushtimi ynë ndaj përsosmërisë dhe autenticitetit na ka bërë një emër të njohur, ku çdo mysafir ndihet si në shtëpinë e tij.

        <br /><br />Sot, British Lounge vazhdon të jetë simbol i traditës dhe inovacionit, duke ofruar një përvojë të paharrueshme të ngrënies në qytetin e gjallë të Prishtinës.
    </div>
    <!-- / end of col-md-8 -->

    <div class="col-md-4">
        <img src="~/image/BritishLounge.jpg" alt="British Lounge" class="img-thumbnail" />
        
        <p class="font-weight-bold" style="font-size:10pt; text-align:right;">Brendësia jonë e ngrohtë në BritishLoune.</p>
    </div>
    <!-- / end of col-md-4 -->
</div>